# Name : Mudasir Sohail
# Assignment 7
# course : Data Science

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ccee\desktop\data science assignment 2\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ccee\desktop\data science assignment 2\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ccee\desktop\data science assignment 2\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ccee\desktop\data science assignment 2\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ccee\desktop\data science assignment 2\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ccee\desktop\data science assignment 2\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [47]:
import pandas as pd
print(pd.__version__)

2.3.3

In [50]:
import pandas as pd

df = pd.read_csv("mudasir_sohail.csv")
print(df)

   Order ID Customer Name Product Category  Quantity  Unit Price ($)  \
0         1         Hamza      Electronics         2             300
1         2           Ali         Clothing         5              40
2         3         Ahmed    Home & Garden         1             120
3         4        Qurban            Books         3              15
4         5       Mudasir      Electronics         1             450
5         6      Mussawir         Clothing         4              35
6         7         Adnan           Sports         2              60
7         8         Aadil           Beauty         6              25
8         9        Sammad      Electronics         3             280
9        10       Hasnain            Books         2              20

   Order Date  Delivery Days
0  01/10/2024              5
1  03/10/2024              3
2  05/10/2024              7
3  07/10/2024              2
4  09/10/2024              6
5  10/10/2024              4
6  12/10/2024              5
7  15/10/2024              3
8  17/10/2024              5
9  20/10/2024              2

In [31]:
#1 Show the first few rows (4):
print(df.head(4))

   Order ID Customer Name Product Category  Quantity  Unit Price ($)  \
0         1         Hamza      Electronics         2             300
1         2           Ali         Clothing         5              40
2         3         Ahmed    Home & Garden         1             120
3         4        Qurban            Books         3              15

   Order Date  Delivery Days
0  01/10/2024              5
1  03/10/2024              3
2  05/10/2024              7
3  07/10/2024              2

In [32]:
#2 Get info about the DataFrame: columns, data types, non-null counts:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          10 non-null     int64
 1   Customer Name     10 non-null     object
 2   Product Category  10 non-null     object
 3   Quantity          10 non-null     int64
 4   Unit Price ($)    10 non-null     int64
 5   Order Date        10 non-null     object
 6   Delivery Days     10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 692.0+ bytes
None

In [33]:
#3 Summary statistics for numeric columns:
print(df.describe())

       Order ID  Quantity  Unit Price ($)  Delivery Days
count  10.00000  10.00000       10.000000      10.000000
mean    5.50000   2.90000      134.500000       4.200000
std     3.02765   1.66333      153.504434       1.686548
min     1.00000   1.00000       15.000000       2.000000
25%     3.25000   2.00000       27.500000       3.000000
50%     5.50000   2.50000       50.000000       4.500000
75%     7.75000   3.75000      240.000000       5.000000
max    10.00000   6.00000      450.000000       7.000000

In [34]:
#4 Sort rows by a column, e.g., by Total Price ($) descending:
print(df.sort_values(by='Unit Price ($)', ascending=False))

   Order ID Customer Name Product Category  Quantity  Unit Price ($)  \
4         5       Mudasir      Electronics         1             450
0         1         Hamza      Electronics         2             300
8         9        Sammad      Electronics         3             280
2         3         Ahmed    Home & Garden         1             120
6         7         Adnan           Sports         2              60
1         2           Ali         Clothing         5              40
5         6      Mussawir         Clothing         4              35
7         8         Aadil           Beauty         6              25
9        10       Hasnain            Books         2              20
3         4        Qurban            Books         3              15

   Order Date  Delivery Days
4  09/10/2024              6
0  01/10/2024              5
8  17/10/2024              5
2  05/10/2024              7
6  12/10/2024              5
1  03/10/2024              3
5  10/10/2024              4
7  15/10/2024              3
9  20/10/2024              2
3  07/10/2024              2

In [35]:
#5 Group by Product Category and calculate mean quantity:
print(df.groupby('Product Category')['Quantity'].mean())

Product Category
Beauty           6.0
Books            2.5
Clothing         4.5
Electronics      2.0
Home & Garden    1.0
Sports           2.0
Name: Quantity, dtype: float64

In [36]:
#6 Filtering rows where Delivery Days <= 3:
fast_delivery = df[df['Delivery Days'] <= 3]
print(fast_delivery)

   Order ID Customer Name Product Category  Quantity  Unit Price ($)  \
1         2           Ali         Clothing         5              40
3         4        Qurban            Books         3              15
7         8         Aadil           Beauty         6              25
9        10       Hasnain            Books         2              20

   Order Date  Delivery Days
1  03/10/2024              3
3  07/10/2024              2
7  15/10/2024              3
9  20/10/2024              2

In [37]:
#7 Apply a custom function on a column, e.g., apply a 10% discount on Unit Price ($):
df['Discounted Price'] = df['Unit Price ($)'].apply(lambda x: x * 0.9)
print(df[['Unit Price ($)', 'Discounted Price']])

   Unit Price ($)  Discounted Price
0             300             270.0
1              40              36.0
2             120             108.0
3              15              13.5
4             450             405.0
5              35              31.5
6              60              54.0
7              25              22.5
8             280             252.0
9              20              18.0

In [ ]:
#8 .iloc examples (index-based selection)

# Select the value at row 1, column 1 (2nd row, 2nd column):
print(df.iloc[1, 1])  # Output: 'Ali'

# Select the entire 3rd row:
print(df.iloc[2])

# Select rows 0 to 4 and columns 1 to 3:
print(df.iloc[0:5, 1:4])

Ali
Order ID                        3
Customer Name               Ahmed
Product Category    Home & Garden
Quantity                        1
Unit Price ($)                120
Delivery Days                   7
Discounted Price            108.0
Name: 2, dtype: object
  Customer Name Product Category  Quantity
0         Hamza      Electronics         2
1           Ali         Clothing         5
2         Ahmed    Home & Garden         1
3        Qurban            Books         3
4       Mudasir      Electronics         1

In [ ]:
#9 Check for missing values:
print(df.isnull().sum())

Order ID            0
Customer Name       0
Product Category    0
Quantity            0
Unit Price ($)      0
Order Date          0
Delivery Days       0
Discounted Price    0
dtype: int64

In [ ]:
#10 Drop a column, for example Discounted Price if no longer needed:
df = df.drop(columns=['Order Date'])
print(df)

   Order ID Customer Name Product Category  Quantity  Unit Price ($)  \
0         1         Hamza      Electronics         2             300
1         2           Ali         Clothing         5              40
2         3         Ahmed    Home & Garden         1             120
3         4        Qurban            Books         3              15
4         5       Mudasir      Electronics         1             450
5         6      Mussawir         Clothing         4              35
6         7         Adnan           Sports         2              60
7         8         Aadil           Beauty         6              25
8         9        Sammad      Electronics         3             280
9        10       Hasnain            Books         2              20

   Delivery Days  Discounted Price
0              5             270.0
1              3              36.0
2              7             108.0
3              2              13.5
4              6             405.0
5              4              31.5
6              5              54.0
7              3              22.5
8              5             252.0
9              2              18.0

In [ ]:
#11 Count unique values in a column, e.g., count how many orders per Product Category:
print(df['Product Category'].value_counts())

Product Category
Electronics      3
Clothing         2
Books            2
Home & Garden    1
Sports           1
Beauty           1
Name: count, dtype: int64

In [ ]:
# 12 .loc examples (label-based selection)

# Select the value at row label 1, column 'Customer Name':
print(df.loc[1, 'Customer Name'])  # Output: 'Ali'

# Select entire row with label 3:
print(df.loc[3])

# Select rows 2 to 5 and columns 'Customer Name' to 'Quantity':
print(df.loc[2:5, 'Customer Name':'Quantity'])

Ali
Order ID                 4
Customer Name       Qurban
Product Category     Books
Quantity                 3
Unit Price ($)          15
Delivery Days            2
Discounted Price      13.5
Name: 3, dtype: object
  Customer Name Product Category  Quantity
2         Ahmed    Home & Garden         1
3        Qurban            Books         3
4       Mudasir      Electronics         1
5      Mussawir         Clothing         4