<i>Please write your Name and CNIC in this cell

# Name : Mudasir Sohail
# Course : Data Science
# CNIC : 43203-9113544-7

# Question 01 Choose the correct answers

(10 Marks)
# <i>01
arr = np.array([[1, 2], [3, 4], [5, 6]])
<br>sub = arr[1:3]
<br>sub[0,0] = 99

<br>After this, what will arr[1,0] be?
<br>A) 3
<br>B) 99
<br>C) 5
<br>D) It raises an error

# 02 
arr = np.arange(27).reshape(3,3,3)
<br>x = arr[1, :, 1]

<br>Which statement about x is true?
<br>A) x is a 1D array containing [10, 13, 16]
<br>B) x has shape (3,3)
<br>C) x is a 2D slice with one fixed depth index
<br>D) x is a copy, not a view

# 03
arr = np.arange(48).reshape(2,4,6)
<br>result = arr[:, 1:3, 2:5]

<br>Which is true about result?
<br>A) It selects 2 blocks, 2 rows, 3 columns → shape (2,2,3)
<br>B) It selects 1 block, 2 rows, 3 columns → shape (1,2,3)
<br>C) It flattens to (12,)
<br>D) It copies the data into a new array

# 04
df = pd.DataFrame({'A':[10,20,30,40],'B':[50,60,70,80]}, index=['a','b','c','d'])
<br>df.loc['a':'c']
<br>df.iloc[0:3]

<br>Which statement is true?
<br>A) Both select the same rows
<br>B) .loc excludes 'c' while .iloc includes index 2
<br>C) .loc includes 'c' while .iloc excludes index 3
<br>D) Both include one extra row

# 05
df = pd.DataFrame({'X':[1,2,3,4],'Y':[5,6,7,8]})
<br>sub = df[df['X']>2]['Y']
<br>sub.iloc[0] = 100

<br>What happens?
<br>A) df is updated
<br>B) Only sub changes
<br>C) SettingWithCopyWarning may occur and df remains unchanged
<br>D) Raises a KeyError

# 06
You have s = "DataScience".

<br>Which statement about slicing is true?
<br>A) s[::-1] reverses the string by creating a new one.
<br>B) s[::] returns a reference to the original string.
<br>C) s[2:5:-1] returns 'taS'.
<br>D) s[2:5] modifies the original string in place.

# 07 
What does the split() method do in Python?

<br>A) Joins multiple strings into one
<br>B) Divides a string into parts and returns a list
<br>C) Changes all letters to lowercase
<br>D) Removes spaces from a string

# 08 
What is a tuple in Python?

<br>A) A list that can be changed after creation
<br>B) A collection that stores data in key–value pairs
<br>C) An ordered collection of items that cannot be changed
<br>D) A special type of dictionary

# 09
When does a NameError occur in Python?

<BR>A) When a variable name is not defined before use
<BR>B) When a list index is out of range
<BR>C) When dividing a number by zero
<BR>D) When a file cannot be opened

# 10
What is a main characteristic of a set in Python?

<br>A) It allows duplicate values
<br>B) It stores items in a specific order
<br>C) It does not allow duplicate elements
<br>D) It can be indexed like a list

# Question 1 Mcqs (Answers)
1.  B) 99
2.  A) x is a 1D array containing [10, 13, 16]
3.  A) It selects 2 blocks, 2 rows, 3 columns → shape (2,2,3)
4.  C) .loc includes 'c' while .iloc excludes index 3
5.  C) SettingWithCopyWarning may occur and df remains unchanged
6.  A) s[::-1] reverses the string by creating a new one.
7.  B) Divides a string into parts and returns a list
8.  C) An ordered collection of items that cannot be changed
9.  A) When a variable name is not defined before use
10. C) It does not allow duplicate elements

# Question 02  Write a python function program that merges arrays(lists) , removes duplicates, and sort the list in ascending order, all implemented under a single function. 

<br> (6 Marks)

In [2]:
#QUESTION 02 SOLUTION HERE 
def merge_remove_duplicates(*arrays):
    merged_list = []
    for arr in arrays:
        merged_list.extend(arr)
    unique_list = list(set(merged_list))
    unique_list.sort()
    return unique_list
list1 = [1,2,3]
list2 = [3,4,5]
list3 = [2,3,4]
result = merge_remove_duplicates(list1, list2, list3)
print(result)

[1, 2, 3, 4, 5]

# Question 03: Write a Python Program using conditional statements that greets user following:    
<br> a) Good Morning 
<br> b) Good Noon 
<br> c) Good Afternoon 
<br> d) Good Evening 
<br> e) Good Night
<br>
<br> (5 Marks)

In [1]:
#QUESTIONS 03 SOLUTION HERE
import datetime
hour = datetime.datetime.now().hour 
username = "MudasirSohail"
if hour < 12:
    print(f"Good Morning {username}")
elif hour < 15:
    print(f"Good Noon {username}")
elif hour < 18:
    print(f"Good Afternoon {username}")
elif hour < 21:
    print(f"Good Evening {username}")
elif hour < 24:
    print(f"Good Night {username}")
else:
    print("Enter correct time")

Good Morning MudasirSohail

 # Question 04: Write a program to Calculate the sum of all numbers from 1 to a given number. 
<br> (5 Marks)

In [65]:
#QUESTION  04 SOLUTION HERE
def sum_of_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
number = int(input("enter number: "))
result = sum_of_numbers(number)
print(f"Sum of numbers from 1 to {number} is : {result}")

Sum of numbers from 1 to 10 is : 55

# Question 05:  students = { "student1": {"name": "Alice","age": 20,"grades": {"math": 85, "science": 90}}, "student2": {"name": "Bob","age": 22,"grades": {"math": 78, "science": 88 } } }
<br> Qs: 1 Delete Charlie’s Record
<br> Qs:2 Delete Bob’s Math Grade

<br>(4 Marks)

In [66]:
#QUESTION 05 SOLUTION HERE 
students = {"student1": {
    "name": "charlie",
    "age": 20,
    "grades":{
        "maths":85,
        "science":90
        }
    },
            "student2": {
                "name": "bob",
                "age": 22,
                "grades":{
                    "maths":78,
                    "science":88
                }
            }
        }
print(students)
del students["student1"]
students
del students["student2"]["grades"]["maths"]
students

{'student1': {'name': 'charlie', 'age': 20, 'grades': {'maths': 85, 'science': 90}}, 'student2': {'name': 'bob', 'age': 22, 'grades': {'maths': 78, 'science': 88}}}

{'student2': {'name': 'bob', 'age': 22, 'grades': {'science': 88}}}

# Question 06: Create a 2D Numpy Array and Reverse its Rows / Columns / or Both (choose one).  

<BR>(5 Marks)

In [28]:
# QUESTION 06 SOLUTION HERE
import numpy as np
array1 = np.array([[1,2,3,4],[5,6,7,8]])
array1[0:,::-1]

array([[4, 3, 2, 1],
       [8, 7, 6, 5]])

# Question 07: Create a Small Pandas DataFrame of your choice using Pandas.

<br>(5 Marks)

In [ ]:
# QUESTION 07 SOLUTION HERE
import pandas as pd

data1 = {
    "Name" : ["Ali", "Ahmed", "Hamza"],
    "Age" : [20,25,30],
    "Course": ["Data Science", "Digital Marketing", "Cloud Computing"]
    }
df = pd.DataFrame(data1)
print(df)